<%= form_for @post, :html => { :class => 'form-horizontal post-validate' } do |f| %>
  <div class="control-group">
    <label class="control-label reset-width" for="post_title"><%= (t'.title')%><em class="required">*</em></label>
    <div class="controls margin-left10">
      <%= f.text_field :title, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
      <label class="control-label reset-width" for="post_text"><%= (t'.text')%><em class="required">*</em></label>
    <div class="controls margin-left10">
      <%= f.text_area :text ,class:'input-xxlarge',rows:'5'%>
    </div>
  </div>

  <div>
    <% if action=='new'%>
      <%= f.submit (t'.new'), :class => 'btn btn-primary margin-left10' %>
    <%else%>
      <%= f.submit (t'.update'), :class => 'btn btn-primary margin-left10' %>
    <%end%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>